# Used Car Price Prediction

## 1) Problem statement.

* This dataset comprises used cars sold on cardehko.com in India as well as important features of these cars.
* If user can predict the price of the car based on input features.
* Prediction results can be used to give new seller the price suggestion based on market condition.

## 2) Data Collection.
* The Dataset is collected from scrapping from cardheko webiste
* The data consists of 13 column and 15411 rows.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [3]:
df=pd.read_csv("cardekho_imputated.csv")
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [4]:
df.columns

Index(['Unnamed: 0', 'car_name', 'brand', 'model', 'vehicle_age', 'km_driven',
       'seller_type', 'fuel_type', 'transmission_type', 'mileage', 'engine',
       'max_power', 'seats', 'selling_price'],
      dtype='object')

# 1. Data Cleaning

In [5]:
df.drop('Unnamed: 0', inplace =True,axis=1)

In [6]:
df.columns = df.columns.str.strip()
df.columns

Index(['car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type',
       'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power',
       'seats', 'selling_price'],
      dtype='object')

1. Handling Missing Values

In [7]:
df.isnull().sum() # no null value

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

2. Remove unnecessary columns

In [8]:
df.drop(columns = ['car_name', 'brand'], axis=1, inplace=True)

In [9]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

# 2. Getting all type of features

In [10]:
num_features = [feature for feature in df.columns if df[feature].dtype !='O']
print("num_features: ", len(num_features), num_features)
cat_features = [feature for feature in df.columns if df[feature].dtype =='O']
print('cat_features: ', len(cat_features),cat_features)
discrete_features = [ feature for feature in num_features if len(df[feature].unique())<25]
print('discrete_features :',len(discrete_features) ,discrete_features)
continous_features = [feature for feature in num_features if feature not in discrete_features]
print('continous_features : ', len(continous_features), continous_features)

num_features:  7 ['vehicle_age', 'km_driven', 'mileage', 'engine', 'max_power', 'seats', 'selling_price']
cat_features:  4 ['model', 'seller_type', 'fuel_type', 'transmission_type']
discrete_features : 2 ['vehicle_age', 'seats']
continous_features :  5 ['km_driven', 'mileage', 'engine', 'max_power', 'selling_price']

# 3. Independent - Dependent features

In [11]:
X=df.drop(['selling_price'], axis=1)
y=df['selling_price']

# 4. Feature Encoding and Scaling
**One Hot Encoding for Columns which had lesser unique values and not ordinal**
* One hot encoding is a process by which categorical variables are converted into a form that could be provided to ML algorithms to do a better job in prediction.
* and if do onehotencoding for model then it will create new 120 columns, hence we are doing label encoding

In [12]:
# total unique categories regardiing each categorical feature
# for each category of feature what's the count of vaulues
for i in cat_features:
    print(i,len(df[i].unique()))
    print(df[i].value_counts()) # it is just for fun

model 120
model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64
seller_type 3
seller_type
Dealer              9539
Individual          5699
Trustmark Dealer     173
Name: count, dtype: int64
fuel_type 5
fuel_type
Petrol      7643
Diesel      7419
CNG          301
LPG           44
Electric       4
Name: count, dtype: int64
transmission_type 2
transmission_type
Manual       12225
Automatic     3186
Name: count, dtype: int64

** Q) Why putting label encoding for model(has higher category count) ?
- Ans:- because it find relationship with output feature(selling price) and itsel, So we can find for which label the selling price is high like that.

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [14]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [15]:
# for these 3 features having smaller no. of categories we are doing onehotencoding
for i in cat_features:
    print(i,len(df[i].unique()))

model 120
seller_type 3
fuel_type 5
transmission_type 2

In [16]:
# Create column Transformers with 3 types of transformers

num_features = X.select_dtypes(exclude='object').columns
onehot_columns = ['seller_type','fuel_type','transmission_type']
from sklearn.preprocessing import OneHotEncoder, StandardScaler # standardization in random forest is not required but for understanding the transformers we are doing it
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, onehot_columns),
        ("StandardScaler", numeric_transformer, num_features)
    ] , remainder = 'passthrough' # it says that other that other than these particular feature we are not going delete any feature, only categorical feature are changing other are remaing same
)

In [17]:
X = preprocessor.fit_transform(X)
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

# 5. Train Test Split

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.30, random_state=42)

# 6. Model Training
- use all the models which have been seen

In [19]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error,root_mean_squared_error

In [20]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [21]:
## creating a function to evaluate the model
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    rmse = root_mean_squared_error(true,predicted)
    r2 = r2_score(true, predicted)
    return mae,rmse, r2

In [22]:
from sklearn.ensemble import AdaBoostRegressor

In [23]:
## Beginning Model Traininng
models = {
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest Regeressor": RandomForestRegressor(),
    "AdaBoost Regeressor": AdaBoostRegressor()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train) # trianing the model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred  = model.predict(X_test)

    #evaluate train and test dataset
    model_train_mae,model_train_rmse,model_train_r2=evaluate_model(y_train, y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2 = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])

    print('Model performance for Training set')
    print("Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print('Mean Absolute Error : {:.4f}'.format(model_train_mae))
    print("R2 Score: {:.4f}".format(model_train_r2))

    print("---------------------------------------------")

    print('Model Performance for Test set')

    print("Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print('Mean Absolute Error : {:.4f}'.format(model_test_mae))
    print("R2 Score: {:.4f}".format(model_test_r2))

    print('====================================================')

Linear Regression
Model performance for Training set
Root Mean Squared Error: 559313.7144
Mean Absolute Error : 268437.6549
R2 Score: 0.6183
---------------------------------------------
Model Performance for Test set
Root Mean Squared Error: 507556.7988
Mean Absolute Error : 281329.9042
R2 Score: 0.6575
====================================================
Lasso
Model performance for Training set
Root Mean Squared Error: 559313.7247
Mean Absolute Error : 268436.5960
R2 Score: 0.6183
---------------------------------------------
Model Performance for Test set
Root Mean Squared Error: 507555.9012
Mean Absolute Error : 281329.3313
R2 Score: 0.6575
====================================================
Ridge
Model performance for Training set
Root Mean Squared Error: 559314.5337
Mean Absolute Error : 268393.2589
R2 Score: 0.6183
---------------------------------------------
Model Performance for Test set
Root Mean Squared Error: 507539.4235
Mean Absolute Error : 281276.8149
R2 Score: 0.6575
====================================================
K-Neighbors Regressor
Model performance for Training set
Root Mean Squared Error: 338135.3446
Mean Absolute Error : 91849.5411
R2 Score: 0.8605
---------------------------------------------
Model Performance for Test set
Root Mean Squared Error: 287631.2919
Mean Absolute Error : 116557.2502
R2 Score: 0.8900
====================================================
Decision Tree
Model performance for Training set
Root Mean Squared Error: 20329.7436
Mean Absolute Error : 4728.8897
R2 Score: 0.9995
---------------------------------------------
Model Performance for Test set
Root Mean Squared Error: 363496.5392
Mean Absolute Error : 130474.6053
R2 Score: 0.8243
====================================================
Random Forest Regeressor
Model performance for Training set
Root Mean Squared Error: 138604.3381
Mean Absolute Error : 39808.5813
R2 Score: 0.9766
---------------------------------------------
Model Performance for Test set
Root Mean Squared Error: 244604.2999
Mean Absolute Error : 105548.9565
R2 Score: 0.9204
====================================================
AdaBoost Regeressor
Model performance for Training set
Root Mean Squared Error: 470718.6016
Mean Absolute Error : 365379.5850
R2 Score: 0.7296
---------------------------------------------
Model Performance for Test set
Root Mean Squared Error: 540478.8769
Mean Absolute Error : 391078.0861
R2 Score: 0.6116
====================================================

# Hyperparameter tuning to two models

In [24]:
# Initialize few parmaeter for Hyperparamter tuning
knn_params = {"n_neighbors":[2,3,10,20,40,50]}
rf_params = {"max_depth":[5,8,15,None,10],
             "max_features":[5,7,"auto",8],
             "min_samples_split":[2,8,15,20],
             "n_estimators":[100,200,500,1000]}
ada_params = {
    'n_estimators':[50,60,70,80],
    'loss':['linear','square','exponential']

}

In [25]:
# Models list for Hyperparameter tuning
randomcv_models = [('KNN',KNeighborsRegressor(),knn_params),
                   ("RF",RandomForestRegressor(), rf_params),
                   ("AB", AdaBoostRegressor(), ada_params)]

In [ ]:
# Hyperparameter tuning
from sklearn.model_selection import RandomizedSearchCV

model_param={}
for name,model,params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                param_distributions=params,
                                n_iter=100,
                                cv=3,verbose=2,n_jobs=-1)
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"-----------Best Params for {model_name}-----------------")
    print(model_param[model_name])

In [28]:
# Retraining the models with best parameters
models={

    "Random Forest Regressor": RandomForestRegressor(n_estimators=10, min_samples_split=2, max_features=8,max_depth=None, n_jobs=1),
    "K-Neighbors REgressor":KNeighborsRegressor(n_neighbors=10,n_jobs=-1,),
    "Adaboost regressor": AdaBoostRegressor(n_estimators=60, loss='linear')
}



for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train) # trianing the model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred  = model.predict(X_test)

    #evaluate train and test dataset
    model_train_mae,model_train_rmse,model_train_r2=evaluate_model(y_train, y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2 = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])

    print('Model performance for Training set')
    print("Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print('Mean Absolute Error : {:.4f}'.format(model_train_mae))
    print("R2 Score: {:.4f}".format(model_train_r2))

    print("---------------------------------------------")

    print('Model Performance for Test set')

    print("Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print('Mean Absolute Error : {:.4f}'.format(model_test_mae))
    print("R2 Score: {:.4f}".format(model_test_r2))

    print('====================================================')

Random Forest Regressor
Model performance for Training set
Root Mean Squared Error: 111602.9496
Mean Absolute Error : 42708.7687
R2 Score: 0.9848
---------------------------------------------
Model Performance for Test set
Root Mean Squared Error: 242692.6398
Mean Absolute Error : 105859.8189
R2 Score: 0.9217
====================================================
K-Neighbors REgressor
Model performance for Training set
Root Mean Squared Error: 373792.4427
Mean Absolute Error : 104054.8716
R2 Score: 0.8295
---------------------------------------------
Model Performance for Test set
Root Mean Squared Error: 297848.3225
Mean Absolute Error : 121182.8125
R2 Score: 0.8820
====================================================
Adaboost regressor
Model performance for Training set
Root Mean Squared Error: 484762.7105
Mean Absolute Error : 393196.4113
R2 Score: 0.7133
---------------------------------------------
Model Performance for Test set
Root Mean Squared Error: 547911.2024
Mean Absolute Error : 414159.1502
R2 Score: 0.6008
====================================================